<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test name="Regression Test For Android">
        <parameter name="platformName" value="Android"/>
        <parameter name="platformVersion" value="13.0"/>
        <parameter name="deviceName" value="KhanhPham"/>
        <classes>
            <class name=""/>
        </classes>
    </test> <!-- Test -->
    <test name="Regression Test For iOS">
        <parameter name="platformName" value="Android"/>
        <parameter name="platformVersion" value="10.0"/>
        <parameter name="deviceName" value="KhanhPham"/>
        <classes>
            <class name=""/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->